<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind EJS Test</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
      <div class="flex justify-between mb-5">
        <a href="/home" class="bg-blue-500 px-4 py-2 rounded-md text-sm">Home</a>
        <a href="/logout" class="bg-red-500 px-4 py-2 rounded-md text-sm">Logout</a>
      </div>
      <h1 class="text-3xl tracking-tighter">Hello ,<%=user.name %></h1>
      <h5 class="mb-5">you can create a new post.</h5>
      <form action="/post" method="post">
        <textarea
          name="content"
          placeholder="what's on your mind"
          class="resize-none w-1/3 bg-transparent outline-none border-2 border-zinc-700 rounded-md p-2 block"
        ></textarea>
        <input
          type="submit"
          name=""
          value="Create post"
          class="bg-blue-600 px-3 py-1 mt-2 rounded-md text-sm"
        />
      </form>
      <div class="posts mt-20">
        <h3 class="">Your posts</h3>
        <%user.posts.reverse().forEach(function(post){%>
        <div
          class="post border-2 border-zinc-700 w-1/3 p-2 rounded-md bg-zinc-800 mt-2"
        >
          <h1 class="text-blue-500">@<%=user.username%></h1>
          <p class="tracking-tight"><%=post.content%></p>
          <small><%=post.like.length%> likes</small>
          <div class="btns flex gap-4">
            <a href="/like/<%=post._id%>" class="text-blue-500"><%=post.like.indexOf(user._id) ==-1?"Like":"UnLike" %></a>
            <a href="/edit/<%=post._id%>" class="text-yellow-500">edit</a>
          </div>
        </div>
        <%})%>
      </div>
    </div>
  </body>
</html>
